@using MovieTheatreMVC.Models.ViewModels.Areas.AdminAreaViewModels.Controllers.MovieControlleViewModels;
@model List<ActorsViewModel>

@if(Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Actor</th>
                <th scope="col"></th>
                <th scope="col"></th> 

            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model)
            {
                <tr>
                    @if (actor.ActorImagePath == null)
                    {
                        <td width="40%"><img src="~/actors/unknown/unknown_person.jpg" class="img-thumbnail" alt="@actor.FullName Image_Not_Found" width="30%" height="40%"/></td>
                    }
                    else
                    {
                        <td width="40%"><img src="@actor.ActorImagePath" class="img-thumbnail" alt="@actor.FullName" width="30%" height="40%"/></td>
                    }
                    <td>@actor.FullName</td> 
                    <td><a asp-action="EditActor" asp-route-id="@actor.Id">Edit</a></td>
                </tr> 
           }
        </tbody>
    </table>
    
}